<head>
<style>


@font-face {
  font-family: 'amert';
  src: url('/american_type.woff') format('woff');
  /*src: url('/american_type.ttf') format('truetype');*/
}	



.american{font-family: 'amert', 'American_Type', 'american_type','Arial', Fallback, sans-serif;}


</style>
</head>
<body>
   <!-- <link href='american_type.ttf' rel='stylesheet' type='text/css'>-->

<p class="american" style="font-family: amert, American_Type, Arial, Courier">American AMERICAN</p>
</body>
