/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16/07/2018, 11:40:58
    Author     : alex
*/

.lx-petita { 
font-size: 0.8em;
}

.lx-clara { 
    color:#666;
}
 
.lx-petita-clara {
    font-size: 0.8em;
    color:#666;
}

.lx-fitxa {
    font-size: 0.9em;
    color:#444;
}
