/*
 Theme Name:   kreativa Child
 Theme URI:    http://example.com/kreativa-child/
 Description:  kreativa Child Theme
 Author:       Àlex Garcia
 Author URI:   http://example.com
 Template:     kreativa
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
 Text Domain:  kreativa-child
*/
h1{    font-size: 35px !important;}

@font-face {
  font-family: 'amer';
  src: URL('american-type-light-regular.woff') format('woff');
}

.wpcf7-form-control > div{margin:auto;}


#sidebar h3{
    font-size:18px;
}

/*LOGO*/
.menu-is-horizontal.superfish-ready .logo img {
    opacity: 1;
   /* width: 200px;
    height: 41px;*/
   height: 79px;
    margin-left: 16px;
    margin-top: -11px;
    border: #999 solid 1px;
}



.left-logo .homemenu, .homemenu {
    line-height: 70px;
}


/* MENU */
.center-logo .homemenu, .left-logo .homemenu, .homemenu {
    padding-top: 47px;
}

.homemenu .sf-menu li:hover ul, .homemenu .sf-menu li.sfHover ul {
    left: 0;
    top: 59px;
}

.homemenu ul ul {
    background: white;
  /*  background: #fcfcfc;*/
}
.homemenu ul ul li>a {
    color: #444;
        font-weight: 600;

}
.homemenu ul ul li:hover>a, .homemenu .sub-menu li.current-menu-item > a {
    font-weight: 600;

    color: #000;
}



/*/FOOTER */
.footer-logo-image {
     width: inherit; 
     margin-bottom: 10px; 
     max-width: 100%; 
}

.horizontal-footer-copyright, .vertical-footer-copyright{
    text-transform: lowercase;
    text-transform: capitalize;
    text-transform: none;
    font-size:14px;
}

.horizontal-footer-copyright {
    top:30px;
}

#copyright a {
    margin: 8px;
}
#copyright a:hover {
    color: #600 !important;
}

/******************/
.textbox{
    font-size: 13px;
    color:#999;
}

.outer-wrap.stickymenu-zone{
    position: fixed;
}

/*
.section-heading.headingstyle-default.section-align-left{text-align: center;}
.page-id-5878  .section-heading{background-color: rgba(111,111,111,0.4);padding:8px;}
*/
.no-comments{display:none;}
.entry-title-wrap h1.entry-title, .single .title-container h1.entry-title {
    font-size: 40px;
    background: white;
}

.entry-title-wrap {
    background: white;
}

#copyright a {    color: black;}
#copyright a:hover {    color: #555;}

 .checklist > ul.noticias-online > li {
    margin-top: 50px; 
}

/*
.current-menu-item a{color:#700}
.homemenu > ul > li.current-menu-item a {color:#700 !important}
.homemenu > ul > li.current-menu-ancestor > a {color:#700 !important}
*/
/*
.current-menu-item a:link {color:#700 !important}

.current-menu-item a::visited{color:#700}
.current-menu-item a::active{color:#700}
*/
/*
a.sf-with-ul:link{color:#000}
a.sf-with-ul:active{color:#800}
a.sf-with-ul:active{color:#800}
a.sf-with-ul:visited{color:#000}
*/
/*a.sf-with-ul:hover{color:#F00}*/
/*
.menu-item a:link{color:#000}
.menu-item a:active{color:#800}
.menu-item a:visited{color:#000}
/*
/*.menu-item a:hover{color:#F00}*/



/* #static_slidecaption{color:#800} */

#static_slidecaption .static_slideshow_title{color:#800}
#static_slidecaption .static_slideshow_caption{color:#000}
#static_slidecaption .static_slideshow_content_link{color:#000}
#static_slidecaption .static_slideshow_content_link:link{color:#000}
#static_slidecaption .static_slideshow_content_link:visited{color:#000}

 /* SIDEBAR */
.sidebar .widget.simple-social-icons ul li {
    margin: 0 1px 12px !important;
    /* padding: 0 !important; */
}

.white-text{color:white}


.back-arrow{
    animation-duration: 1s;
}/*.noticias-online li li{list-style-type: none;list-style: none;}*/
.back-arrow:hover, .back-arrow:link{
    color:#A00;
    animation-duration: 3s;
}



.mtheme-modular-column{padding-top: 50px !important;} 










.positionaware-button {
    color:black;
    border: 1px solid black;
}


/*
.page-id-5896    .section-heading.headingstyle-default.section-align-left{
    text-align: left;
    color:black;
    
}

.page-id-5896    .section-heading.headingstyle-default.section-align-left h1{
    text-align: left;
    color:black;
    
}

.page-id-5896    .section-heading.headingstyle-default.section-align-left p{
    text-align: left;
    color:black;
    
}
*/


.section-description {
    max-width: 680px;
}

.section-align-center .section-description{
    max-width: 680px;
}

.section-description{
/*    font-size: 0.9em;*/
}


/*GALERIA */
.lightbox-text em{display:none;}
.mtheme-lightbox .lg-sub-html h4{font-style: italic;}
.material{color:#000}
.mida{color:#999;margin-top:7px ; font-size: 0.9em}
.obra-data{color:#666;font-size: 0.9em}
.extra{margin-top:7px ;}
.lg-fullscreen{display:none;}
#lg-actual-size{display:none;}
.lg-autoplay-button{display:none;}

.mtheme-lightbox #lg-counter, .mtheme-lightbox .lg-sub-html, .mtheme-lightbox .lg-toolbar .lg-icon, .mtheme-lightbox .lg-actions .lg-next, .mtheme-lightbox .lg-actions .lg-prev {
    color: #green;
}


.mtheme-lightbox.lg-outer.lg-has-thumb .lg-inner {
    height: -webkit-calc(100% - 180px);
    height: -moz-calc(100% - 180px);
    height: calc(100% - 180px);
}

 .eytg-item {
   
    padding: 5px;
}

@media screen and (min-width: 780px) {
 .gridblock-four .gridblock-ajax.gridblock-grid-element.gridblock-element-inner{
    max-height: 188px;
}

/**/
 .gridblock-three .gridblock-ajax.gridblock-grid-element.gridblock-element-inner
{
    max-height: 255px;
}


 
}

.entry-content .work-details h4, .work-details h4 a{font-size:0.9em;color:#444;}





/******************************************************************/
/******************************************************************/
/******************************************************************/
/******************************************************************/
/*******************************************************************/

input,
textarea,
label,
button,
.entry-title-wrap h1,
h2.project-heading,
.sidebar h3,
.footer-end-block h2.section-title,
.skill-bar-percent,
.gridblock-parallax-wrap h4.slideshow-box-title,
.positionaware-button,
.mtheme-button,
.responsive-titles h3,
.fullscreen-swiperslides .swiper-title,
.woocommerce ul.products li.product h3,
.woocommerce-page ul.products li.product h3,
.photowall-title,
.proofing-client-title,
.comment-reply-title,
.hero-text-wrap .hero-title,
.social-header-wrap ul li.contact-text,
.slideshow_title,
h1.slideshow_title,
.static_slideshow_title,
.coverphoto-text-container .slideshow_title,
.coverphoto-text-container .static_slideshow_title,
.fullscreen-fotorama .fotorama__caption__wrap h2,
.gridblock-grid-element .boxtitle-hover a,
.mtheme-lightbox .lg-sub-html,
.shortcode-box-title,
.entry-content .work-details h4,
.work-details h4 a,
ul.vertical_images .vertical-images-title,
.dimmer-text,
.mtheme-404-wrap .mtheme-404-error-message1,
.portfolio-section-heading h2,
.imagebox-title,
.site-maintenance-text,
.blog-grid-element-content .work-details h4 a,
.homemenu .sf-menu .megamenu-textbox,
.homemenu .sf-menu a,
.homemenu .sf-menu .mega-item .children-depth-0 h6,
.homemenu,
.homemenu .sf-menu ul li a,
.minimal-menu ul.mtree > li > a,
.vertical-menu ul.mtree > li > a,
.simple-menu ul.mtree > li > a,
.responsive-mobile-menu ul.mtree > li > a,
h1.entry-title,
.entry-content h3.progressbar-title,
.entry-content h1,
.entry-content h2,
.entry-content h3,
.entry-content h4,
.entry-content h5,
.entry-content h6,
.woocommerce-page h1,
.woocommerce-page h2,
.woocommerce-page h3,
.woocommerce-page h4,
.woocommerce-page h5,
.woocommerce-page h6,
h2.section-title,
.client-name,
.mtheme-button,
#gridblock-filters,
#footer h3,
.postsummarywrap,
.postsummarywrap a,
.quote_say,
.quote_author,
.summary-info,
.blog-timeline-month,
.jp-title,
.gridblock-parallax-wrap .slideshow-box-categories,
.person h4.staff-position,
.time-count-data,
.client-say,
.client-company,
.service-content h4,
.service-content h4 a,
.pricing-table,
.boxtitle-hover,
.project-info ul li,
.slideshow-owl-title,
.cart-elements,
.cart-content-checkout,
.hero-text-wrap,
#header-searchform #hs,
.vertical-menu,
.wpcf7-form p,
.toggle-menu-list li a,
.work-details h4,
.work-details h4 a,
.blog-details-section-inner,
.minimal-menu,
.simple-menu,
.responsive-mobile-menu,
.page-link,
.pricing-wrap,
.pricing-table .pricing-row,
.search-instructions,
.fotorama__caption__wrap,
#password-protected input,
.post-password-form input,
#password-protected label,
.post-single-tags,
.post-single-tags a,
.comment-meta,
.mtheme-lightbox .lg-sub-html,
.phototag-archive-list,
.album-item-count,
.woocommerce .button,
.mtheme-woo-order-selected,
.woocommerce .woocommerce-breadcrumb,
.woocommerce-result-count,
.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt,
.pagination,
.contact-text,
.contact-text a,
.slideshow-box-title,
.mtheme-events-heading,
.site-maintenance-text,
.no-comments,
.twentytwenty-before-label:before,
.twentytwenty-after-label:before,
.entry-content .notice-text,
#gridblock-filters li a,
.woocommerce div.product .woocommerce-tabs ul.tabs li a,
.horizontal-bottom-bar,
.donutcounter-value,
.proofing-restricted,
#copyright {
    font-family: 'amer', sans-serif;
}


.lx-petita { 
font-size: 0.8em;
}

.lx-clara { 
    color:#666;
}
 
.lx-petita-clara {
    font-size: 0.8em;
    color:#666;
}

.lx-fitxa {
    font-size: 0.9em;
    color:#444;
}
